@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playwrite+VN:wght@100..400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.upperbar {
  width: 100%;
  height: 70px;
  margin: 0 !important;
  justify-content: space-between;
  align-items: center;
  border-bottom: #bfbebe 1px solid;
}

.menuIcon {
  display: none !important;
}

.logo {
    position: relative;
  color: #000000;
  font-family: "Lobster", serif;
  font-weight: 400;
  margin-left: 10%;
  top: 8px;
}

.logo span {
  color: #FF7426;
}

.upperbar .tabs:last-child {
  list-style: none;
  margin-right: 7%;
}

.upperbar .tabs ul li a {
  color: #000;
  text-decoration: none;
  padding: 0 25px;
  transition: all 0.3s ease;
}

.upperbar .tabs ul li a:hover {
  color: #FF7426;
}

.tabs .section-tab {
  position: relative; 
  margin: 0; 
  float: center; 
  text-align: center; 
  justify-content: center;
  top: -35px;
}
.media {
    position: relative; 
    margin: 0; 
    float: right; 
    text-align: right; 
    justify-content: right;
    top: -60px;
  }

@media screen and (max-width: 1075px) {
    .logo{
        margin-left: 5rem;
        top: -8px;
    }
  .tabs .section-tab {
    display: block;
    top: 3px;
    width: 250px;
    height: 70vh;
    background-color: #fffcfc;
    
  }
  .media {
    position: relative;
    float: right;
    top: -520px;
  }
  .tabs .section-tab li{
    padding: 10px 0;
    border-bottom: #e6e6e6 1px solid;
    transition: all 0.3s ease;
  }
  .tabs .section-tab li:hover{
    background-color: #e6e6e6;
    color: #FF7426;
  }
  .tabs .section-tab li:hover a{
    color: #FF7426;
  }

  .menuIcon {
    position: relative;
    top: 22px;
    left: 15px;
    display: block !important;
    font-size: 1.5rem;
  }

  .upperbar .tabs ul li a {
    padding: 0 10px;
  }
}
